/*-----------------------------------------*/
.main_box img{
    border: #C63 solid 1px;
}
.topo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1024px;
    height: 95px;
    background-color: rgb(97, 47, 14);
    margin: auto;
    font-size: 50px;
    color: #FFF;
}


/* menu de navegação*/
.menu{
    width: 1024px;
    background-color: rgb(151, 78, 29);
    margin: auto;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 4px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    padding: 4px 20px;
}
.menu ul li a:hover{
    background-color: rgb(184, 94, 11);
}


/* Primeira sessão do site */
.main_box{
    width: 1024px;
    margin: auto;
}
 /*-------------------------------*/
.box_review{
    float: left;
    width: 600px;

}
.box_review aside{
    float: left;
    width: 230px;
    border-top: 1px solid #CC6633;
    border-bottom: 1px solid #CC6633;
    padding: 40px 10px 0px;
    font-style: italic;
    background: url(../img/aspas.gif) no-repeat;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #999;
}
 .title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #C63;
    font-style: italic;
    letter-spacing: -0.05em;
}
.title h1{
    font-size: 2.6em;
}
.title h4{
    font-size: 2.6em;
}
.title h2{
    font-size: 2.6em;
}
.box_review p, li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
    color: #555;
    line-height: 1.8;
}

/* area das fotos */
.support{
    float: right;
    width: 370px;
}

/* Rodapé */
.rodape{
    width: 1024px;
    margin:0 auto;
    clear: both;
    font-size: 0.75em;
    text-align: center;
    background-color: #ECECECEC;
    padding-top: 3px;
}
.rodape a{
    text-decoration: none;
    color: #C63;
}
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*----------------------LOCALIZAÇÃO------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/

.topo_local p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: #555;
    line-height: 1.8;

}
.topo_local p a{
    color: #C63;
    text-decoration: none;
}
.mapaO{
    float: left;
    width: 50%;
}
.mapaI{
    float: right;
    padding: 0;
}
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*--------------------------CARDÁPIO-----------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
.main_box p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: #555;
    line-height: 1.8;
}
.recipes{
    height: 300px;
}
.desc{
    float: left;
    border-bottom: #C63 solid 2px;
}
.recipesA{
    float: left;
    width: 50%;
}
.recipesB{
    display: flex;
    justify-content: center;
    float: right;
    width: 45%;
    margin-top: 40px; 
}













/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------INFO--------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
.box{
    height: 400px;
}

.description{
    width: 50%;
    float: left;
    height: 300px;
}
.description p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: #555;
    line-height: 1.8;
}

.pic{
    float: right;
    width: 40%;
}
.picB{
    margin-top: 70px;
    float: left;
    width: 50%;
}
.descriptionB p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: #555;
    line-height: 1.8;
}
.boxB{
    height: 300px;
}
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*-------------------------NOVIDADES-----------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
.news_box{
    border-bottom: 0.3px solid #C63;

}
.news_box p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: #555;
    line-height: 1.8;
}
.confeiteiro{
    float: right;
    width: 45%;
}
.conf{
    padding-top: 50px;
    display: flex;
    float: left;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.conf img{
    border: #C63 solid 1px;
}
.news_box a{
    text-decoration: none;
    color: #C63;
}
.extra{
    float: left;
    border-top: 0.5px solid #C63;
    margin-bottom: 30px;
}
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*-------------------------CONTATO-------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
.contato p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: #555;
    line-height: 1.8;   
}
.telefone{
    float: left;
    width: 45%;
}
.telefone p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: #555;
    line-height: 1.8;   
}
.contato_email{
    float: right;
    width: 50%;
}
.contato_email p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: #555;
    line-height: 1.8;  
}
.contato_email a{
    text-decoration: none;
    color: #C63;
}
.contato_email ul{
    list-style: none;
}
.contato_email li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0em;
    color: #555;
    line-height: 1.8;  
    display: inline;
    padding-left: 15px;
}
.contato_email img{
    border:none;
}
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/